<h2>Wavelength to Joule</h2>
<input type="text" ng-change="convertToJoules()" ng-model="input"> 
<select ng-model="selectedUnit" ng-options="unit.name for unit in units" ng-change="convertToJoules()"></select>
<p>Output: {{ output }} Joules</p>