<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <!-- <li><a ng-href="#">About</a></li> -->
    <!-- <li><a ng-href="#">Contact</a></li> -->
  </ul>
  <h3 class="text-muted">Chemistry Conversions</h3>
</div>

<div class="jumbotron">
  <h1>Conversions</h1>
  <table class="table table-bordered">
    <thead>
      <th>Name</th>
      <th>Input</th>
      <th>Output</th>
    </thead>
    <tbody>
      <tr>
        <td>Wavelength to Freq</td>
        <td>
          <input type="text" ng-change="convertToFrequency()" ng-model="nmInput"> 
          <select ng-model="frequencyUnit" ng-options="unit.name for unit in frequencyUnits" ng-change="convertToFrequency()"></select>
        </td>
        <td>{{ frequencyOutput }} s<sup>-1</sup> (Hz)</td>
      </tr>
      <tr>
        <td>Freq to Wavelength</td>
        <td>
          <input type="text" ng-change="convertToWavelength()" ng-model="frequencyInput"> 
          <select ng-model="wavelengthUnit" ng-options="unit.name for unit in wavelengthUnits" ng-change="convertToWavelength()"></select>
        </td>
        <td>{{ wavelengthOutput }} m</td>
      </tr>
    </tbody>
  </table>
  <br>
  <joule-converter class="converter"></joule-converter>

<!--   <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
 --></div>

<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>
</div> -->

<div class="footer">
  <p>Christian Di Lorenzo</p>
</div>
